body {
    margin:0;
}

@font-face {
    font-family: 'Micro5';
    src: url('./fonts/Micro5-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pokemon';
    src: url('./fonts/Pokemon\ Classic.ttf');
}

* {
    font-family: Pokemon;
}

h2 {
    text-shadow: 3px 0px #2e461b;
}

.micro5 {
    font-family: Micro5;
}

button {
    font-family: 'Pokemon';
    font-weight:800;
    text-shadow: 2px 2px #6e6e6e;
    background-color: black;
    color:white; 
    border: 2px solid white; 
    border-radius: 10px;
} 
 
button:hover {
    background-color: #222222;
}

button:active { 
    background-color: #2e2e2e;
}

#content {
    background:repeating-conic-gradient(#9afb62 0% 25%, #c8ff9b 25% 50%);
    background-size: 100px 100px;
    width:100%;
    height:100vh; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
} 

#maincontainer { 
    width:90vw;
    height:90vh;
    border:2px solid black;
    border-radius: 10px;
    overflow-y:hidden;
}  
 
#test {
    transform: translateY(0vh);
    transition: transform 0.4s ease-in-out;
}

#firstquestion {
    margin-top: 0;
    padding-top: 0.83em;
}

#game { 
    background-color: #e0ffc6;
}

#faq {
    background-color: black;
    color:white;
}

#faq * {
    margin-left:1vw;
}

#faq * a {
    margin-left:0;
}

#title {
    background:repeating-conic-gradient(#6e6e6e 0% 25%, #8b8b8b 25% 50%);
    background-size: 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:10px
}

#title * {
    margin-left:15px;
}

#entrytitle {
    font-size: 5em; 
    text-shadow: 2px 2px 0px #a9ff63;
    transition:all 0.2s ease-in-out;
}

#entrytitle:hover {
    transform: scale(1.15) rotate(-3deg);
}

.partition { 
    width:100%;
    height:90vh;
}

a {
    color:white;
    margin:0;
    padding:0;
}

#game {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:10px;
}

#gamecontent {
    border:2px solid black; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:50%;
}

#controls {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2px;
    border: 2px solid black;
    background-color: white;
    min-width:50%;
    height: 20%; 
}

#controls div {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#back {
    margin-top:20px;
}

#pokeimage {
    filter: contrast(0%) brightness(0%);
    image-rendering: pixelated;
    height:45vh;
    transition: filter 0.2s ease-in;
} 

#imagebox {
    height:45vh;
    width:45vh;
}

#pokeidentifier {
    transform:translateY(-250px);
    background-color: #9afb62;
    justify-content: center;
    justify-self: center;
    visibility: hidden;
    max-width: 45vh;
    opacity: 0.7;
}

#hints {
    width: 100%;
}